
body{
    background-image: url("./fundo-de-textura-de-papel-branco_23-2151025744.avif");
}



body{
    
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.mapBox{
    position: relative;
    width: 500px;
    height: 550px;
    background: #cecece;
    margin-left: 775px;
    border-radius: 50px;
    transform: translate(-70%, 0%);
}

.mapBox iframe{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    margin-bottom: 50px;
}


.titulo2{
    width: 100%;
    min-height: 250px;
    position: static;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 100px;
    text-shadow: 0 2px 15px #ffaa00;
    color: #ecdfb2;
    transform: translate(0%, 0%);
    overflow: hidden;
}

footer .container{
    width: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #000000;
    transform: translate(0%, 400%);
    position: static;
    transition: all 0.5s;
}



footer .container p{
    font-weight: 600;
    color: #f0cc849c;
    font-family: 'Montserrat Alternates', sans-serif;
}
@media (max-width:785px) {
    .navigation{
        padding: 18px 20px;
        position: fixed;
        z-index: 99999;
    }
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--dark);
        gap: -10px;
        transition: 0.3s;
        z-index: 99999999;
    }
    .nav-menu.ativo{
        right: 0;
        
    }
    .nav-item{
        margin: 16px 0;
    }

    .menu .bar{
        display: block;
        width: 28px;
        height: 3px;
        border-radius: 3px;
        background: var(--green);
        margin: 5px auto;
        transition: all 0.3s;
        
    }
    .menu .bar:nth-child(1),
    .menu .bar:nth-child(3){
        background: var(--red);
    }
    /*main*/
    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
        
    }

    .home .text-h4{
        font-size: 15px;
    }
    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home p{
        font-size: 15px;
    }

    .mapBox{
        position: relative;
        width: 370px;
        height: 550px;
        background: #cecece;
        margin-left: 270px;
        border-radius: 50px;
        transform: translate(-30%, 0%);
    }

    
}@media (max-width:410px) {

    .mapBox{
        position: relative;
        width: 370px;
        height: 550px;
        background: #cecece;
        margin-left: 130px;
        border-radius: 50px;
        transform: translate(-30%, 0%);
    }
}@media (max-width:450px) {

    .mapBox{
        position: relative;
        width: 370px;
        height: 500px;
        background: #cecece;
        margin-left: 145px;
        border-radius: 50px;
        transform: translate(-30%, 0%);
        margin-top: -80px;
    }
    @media (width:375px) {

        .mapBox{
            position: relative;
            width: 300px;
            height: 450px;
            background: #cecece;
            margin-left: 130px;
            border-radius: 50px;
            transform: translate(-30%, 0%);
            margin-top: -80px;
        }
    }
    @media (width:390px) {

        .mapBox{
            position: relative;
            width: 300px;
            height: 450px;
            background: #cecece;
            margin-left: 130px;
            border-radius: 50px;
            transform: translate(-30%, 0%);
            margin-top: -80px;
        }
    }
    @media (width:360px) {

        .mapBox{
            position: relative;
            width: 300px;
            height: 450px;
            background: #cecece;
            margin-left: 120px;
            border-radius: 50px;
            transform: translate(-30%, 0%);
            margin-top: -80px;
        }
    }
    @media (width:820px) {

        
        .mapBox{
            position: relative;
            width: 300px;
            height: 450px;
            background: #cecece;
            margin-left: 130px;
            border-radius: 50px;
            transform: translate(-30%, 0%);
            margin-top: -80px;
        }
    }
}

