* {
    box-sizing: border-box;
  }
  
  body {
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
  }
  
  strong {
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: #555
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  .container-pricing {
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
    width: 100%;
    h1 {
      letter-spacing: 1px;
    }
    
    p {
      color: #555;
      letter-spacing: 1px;
    }
  }
  //princing list
  .pricing-list {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    max-width: 800px;
    width: 100%;
    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
    // items pricing
    .item {
      background: #fff;
      border: 1px solid #f1f1f1;
      max-width: 280px;
      padding: 15px 20px 15px 20px;
      width: 100%;
      
      @media (max-width: 768px) {
        max-width: 100%;
      }
      
      strong {
        display: block;
        text-align: center;
        text-transform: uppercase;
      }
      
      .pricing-prices {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 20px 0;
        
        strong {
          font-size: 40px;
          margin: 0 5px;
        }
      }
      // features pricing 
      &.professional {
        background: #545bc4;
        border: 0;
        box-shadow: inset 0px 20px 44px -13px rgba(0,0,0,0.31);
        color: #fff;
        position: relative;
        transform: scale(1.06);
        
        .btn-start {
          border-color: #fff;
          color: #fff;
  
          &:hover {
            background: #fff;
            box-shadow: 2px 3px 43px 0px rgba(0,0,0,0.42);
            color: #545bc4;
          }
        }
      }
    }
    .pricing-list-features-item {
      align-items: center;
      display: flex;
      margin: 15px 0;
      
      .fas {
        color: #2ecc71;
        font-size: 12px;
        margin-right: 5px;
      }
    }
  }
  
  .btn-start {
    border: 1px solid #545bc4;
    color: #545bc4;
    display: block;
    margin-top: 20px;
    padding: 15px 0;
    text-align: center;
    transition: 100ms all linear 0s;
    width: 100%;
    
    &:hover {
      background: #545bc4;
      color: #fff;
    }
  }